{{ define "header-post" }}
    <h1 class="display-5 fw-bold"> {{ .Title }} </h1>
    <p class="col-md-8 fs-4"> {{ .Content }} </p>
    <a href="#"> {{ .AuthorNick }} - {{ .CreatedAt }} </a>
    <hr class="my-4">
{{ end }}

{{ define "post-with-permission" }}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3" data-post-id="{{ .ID }}">
      {{ template "header-post" . }}
    </div>
{{ end }}

{{ define "post-without-permission" }}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3" data-post-id="{{ .ID }}">
      {{ template "header-post" . }}
    </div>
{{ end }}
