<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevBook - Login</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
  <div class="container-login">
    <div>
      <form class="devbook-form" id="login">
        <span>Welcome to DevBook</span>
        <div>
          <input type="email" name="email" id="email" placeholder="E-mail" required>
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <a href="/create-user">Don't have an account? Sign up</a>
        <button type="submit" class="btn-devbook">Login</button>
      </form>
    </div>
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/login.js"></script>
</body>
</html>