<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up - DevBook</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
  <div class="container-login">
    <div>
      <form class="devbook-form" id="signup-form">
        <span>Create your account right now!</span>
        <div>
          <input type="text" name="name" id="name" placeholder="Type your name" required>
        </div>
        <div>
          <input type="email" name="email" id="email" placeholder="Type your E-mail" required>
        </div>
        <div>
          <input type="text" name="nick" id="nick" placeholder="Type your nick" required>
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Type your password" required>
        </div>
        <div>
          <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm your password" required>
        </div>
        <a href="/login">Click here to login</a>
        <button type="submit" class="btn-devbook">Sign Up</button>
      </form>
    </div>
  </div>
  {{ template "scripts" }}
  <script src="/assets/js/register.js"></script>
</body>
</html>